body {
    padding-top: 70px;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column
}

.app-content {
    flex: 1;
}

.app-footer {
    padding-bottom: 1em;
}

.jumbotron {
    padding: 2rem;
}